<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 text-secondary" href="#" id="home">Home</a></li>
        <li><a class="nav-link px-2 text-secondary" href="#" id="hashtag">Hashtags</a></li>
      </ul>

      <div class="text-end">
        <span class="text-white me-2" id="username">username</span>
        <a class="btn btn-outline-light me-2" id="login" role="button">Login</a>
        <a class="me-2" id="kakao-login" role="button">
          <img alt="Kakao Login" src="/images/kakao_login_medium.png"/>
        </a>
        <a class="btn btn-outline-light me-2" id="logout" role="button">Logout</a>
      </div>
    </div>
  </div>
</header>
</body>
</html>